<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config/server.properties">
        <property name="user" value="root"/>
        <property name="passwd" value="root"/>
    </properties>

</configuration>
