<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="test.mybatis.entity.Mobile"/>

        <typeAlias alias="mobile1" type="test.mybatis.entity.Mobile"/>

        <package name="test.mybatis.entity"/>
    </typeAliases>

</configuration>
